nav {
  display: flex;
  justify-content: space-between;
  padding: var(--spacing-m) var(--spacing-l);
  box-shadow: 0rem var(--spacing-5xs) 0.1875rem rgba(0, 0, 0, 0.1);
  img {
    max-width: 7rem;
  }
  p {
    font: {
      size: var(--font-size-s);
    }
  }
}
