.dashboard {
  // Widgets
  &__widgets {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: var(--spacing-l);
    &--invalid-traffic {
      width: 100%;
      height: 100%;
    }
    &--invalid-traffic--range-less {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
      section {
        display: flex;
        gap: var(--spacing-2xs);
        width: 21.875rem;
        background: var(--whitetertiary);
        border: 0.0625rem solid var(--bluetertiary);
        border-radius: var(--spacing-2xs);
        color: var(--bluetertiary);
        padding: var(--spacing-2xs) var(--spacing-l);
        aside {
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }
    }
    &--invalid-traffic--range-more {
      display: flex;
      gap: var(--spacing-s);
      aside {
        transform: rotate(180deg);
        writing-mode: vertical-lr;
        text-align: center;
        padding-top: 7%;
        user-select: none;
        font: {
          size: var(--font-size-xs);
        }
        color: var(--greyprimary);
      }
    }
    // &--traffic-veracity {
    //   display: flex;
    //   flex-direction: row;
    //   width: 100%;
    //   gap: var(--spacing-s);
    //   & > * {
    //     width: 50%;
    //   }
    //   & > *:nth-child(2) {
    //     display: flex;
    //     flex-direction: column;
    //     gap: var(--spacing-s);
    //     align-items: flex-start;
    //     justify-content: center;
    //   }
    // }
    &--traffic-veracity {
      display: flex;
      align-items: center;
      width: 100%;
      height: 100%;
      gap: var(--spacing-s);
      & > *:nth-child(1) {
        display: flex;
        justify-content: center;
        width: 40%;
        max-height: 70%;
      }
      & > *:nth-child(2) {
        width: 60%;
        display: flex;
        flex-direction: column;
        gap: var(--spacing-s);
        align-items: flex-start;
        justify-content: center;
      }
    }
  }
}
