.dashboard {
  // Range
  // Widgets
  &__widgets {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    & > *:nth-child(1) {
        width: 66%;
    }
    & > *:nth-child(2) {
        width: 33%;
    }
  }
}
