.dashboard {
  // Widgets
  &__widgets {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 1rem;
    &--traffic-veracity {
      display: grid;
      grid-template-columns: 1fr 2fr;
    }
  }
}
