.widget {
  display: flex;
  flex-direction: column;
  background: #ffffff;
  box-shadow: 0.125rem 0.125rem 0.5rem rgba(11, 18, 24, 0.1);
  border-radius: 0.3125rem;
  padding: 1rem 1.5rem;
  h3 {
    font: {
      size: 1.125rem;
    }
  }
}
