.traffic-value {
  display: flex;
  flex-direction: row;
  gap: var(--spacing-4xs);
  &__ellipse {
    height: var(--spacing-l);
    width: var(--spacing-l);
    border-radius: 100%;
    background: radial-gradient(circle, white 25%, transparent 25%);
    &--orange {
      background-color: var(--orange);
    }
    &--red {
      background-color: var(--red);
    }
    &--green {
      background-color: var(--green);
    }
  }
  p {
    margin: 0;
    font: {
      weight: 300;
    }
  }
}
