.traffic-value {
  display: flex;
  gap: var(--spacing-4xs);
  &__ellipse {
    height: var(--spacing-l);
    width: var(--spacing-l);
    border-radius: 100%;
    background: radial-gradient(circle, white 25%, transparent 25%);
    &--alert {
      background-color: var(--alert);
    }
    &--danger {
      background-color: var(--danger);
    }
    &--success {
      background-color: var(--success);
    }
  }
  p {
    margin: 0;
    font: {
      weight: 300;
    }
  }
}
