.range-wrapper {
  display: flex;
  justify-content: flex-end;
  select {
    max-height: var(--spacing-4xl);
    width: 9rem;
    padding: 0.1875rem 1.5625rem 0.1875rem var(--spacing-2xs);
    border: .0625rem solid #eaeaea;
    border-radius: var(--spacing-3xs);
    background-color: var(--white);
    font: {
      family: "Roboto";
      size: var(--font-size-s);
    }
  }
}
