.range-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  select {
    width: 9rem;
    padding: 0.1875rem 1.5625rem 0.1875rem 0.5rem;
    border: 1px solid #eaeaea;
    border-radius: 6px;
    background-color: white;
    font: {
      family: "RobotoRegular";
      size: 0.75rem;
    }
  }
}
