.element {
  & > * {
    display: flex;
    flex-direction: row;
    gap: var(--spacing-l);
    text-decoration: none;
    color: var(--white);

    font: {
      size: var(--font-size-m);
    }
  }
}

.sidebar {
  display: flex;
  flex-direction: column;
  background-color: var(--blue);
  padding: var(--spacing-xs) 1.25rem;
}

.sidebar--title {
  color: var(--white);
  opacity: 0.6;

  font: {
    size: var(--font-size-s);
  }
}
