.element {
  & > * {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    text-decoration: none;
    color: white;

    font: {
      size: 0.875rem;
    }
  }
}

.sidebar {
  display: flex;
  flex-direction: column;
  background-color: #07467d;
  padding: 0.625rem 1.25rem;
}

.sidebar--title {
  color: #ffffff;
  opacity: 0.6;

  font: {
    size: 0.75rem;
  }
}
