.App {
  .layout-content {
    display: grid;
    grid-template-columns: 1fr 5fr;
    height: calc(100vh - var(--header-desktop));
    & > *:nth-child(2) {
      display: grid;
      gap: var(--spacing-l);
      grid-template-rows: 1fr 6fr 12fr;
      padding: var(--spacing-l) var(--spacing-2xl);
      background-color: var(--whitesecondary);
    }
  }
}