.App {
  .layout-content {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: calc(100vh - var(--header-desktop));
    & > *:nth-child(1) {
      width: 15%;
    }
    & > *:nth-child(2) {
      width: 85%;
      display: grid;
      gap: var(--spacing-l);
      grid-template-rows: 1fr 6fr 12fr;
      padding: var(--spacing-l) var(--spacing-2xl);
      background-color: var(--whitesecondary);
    }
  }
}

h3 {
  margin: 0;
}